.navbar{
    background-color:gray;
    padding: 20px 17px;
  }
  .navbar a{
    text-decoration: none;
    margin-right: 15px;
    color: white;
  }
  .navbar a.active{
    background-color: lightblue;
    color:black;
    padding: 10px;
  }